.benefitBanner {
  justify-content: center;
  .benefitBanner__item {
    justify-content: flex-start;
    @media (min-width: $breakpoint-xl){
      flex: 1 1 18%;
      padding: 0 20px;
      .benefitBanner__title {
        font-size: 15px;
      }
      .benefitBanner__data {
        margin-top: 5px;
      }
    }
  }
}