.mattress-selection-guide {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
  background-color: #fff;
  @media (min-width: $breakpoint-lg) {
    flex-direction: row;
  }

  .tiles {
    flex: 0 1 100%;
    @media (min-width: $breakpoint-lg) {
      flex: 0 1 65%;
    }

    .tile-wrapper {
      background-color: #fff;
      box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
      margin-bottom: 25px;
      border-radius: 4px;

      .tile-inner {
        padding: 10px 25px;

        .tile-heading h2 {
          color: #caa45c;
          font-size: 22px;
        }

        .tile-content {
          .tile-list {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;
            list-style-type: none;
            padding: 0;

            .tile-detail {
              display: flex;
              flex-direction: column;
              justify-content: center;
              flex: 0 1 100%;
              margin-bottom: 2%;
              padding-left: 25px;
              padding-right: 25px;
              padding-top: 10px;
              padding-bottom: 10px;
              border-radius: 4px;
              background-color: #f9f9f9;
              border: 1px solid #eee;
              cursor: pointer;
              min-height: 70px;
              @media (min-width: $breakpoint-lg) {
                flex: 0 1 48%;
              }

              h3 {
                font-family: "proxima-nova", sans-serif !important;
                font-size: 16px;
                line-height: 21px;
                font-weight: 600;
                color: #252525;
                margin: 0;
                margin-bottom: 5px;
              }

              p {
                font-family: "proxima-nova", sans-serif !important;
                font-size: 12px;
                margin-bottom: 0;
                color: #666;
              }

              &.tile-detail-w-image {
                padding-left: 95px;
                position: relative;

                img {
                  position: absolute;
                  left: 5px;
                  max-width: 75px;
                }
              }

              &.featured {
                position: relative;
                margin-bottom: 25px;
                border-bottom-right-radius: 0;
                border-bottom-left-radius: 0;
                @media (min-width: $breakpoint-lg) {
                  margin-bottom: 35px;
                }
              }

              &.featured::after {
                content: "NEJOBLÍBENĚJŠÍ";
                position: absolute;
                bottom: -20px;
                height: 20px;
                width: 101%;
                width: 100.8%;
                display: block;
                background-color: #caa45c;
                color: #fff;
                font-size: 12px;
                line-height: 20px;
                text-align: center;
                font-weight: 600;
                margin-left: -1px;
                margin-right: -1px;
                left: 0;
                border-bottom-left-radius: 6px;
                border-bottom-right-radius: 6px;
              }

              &.active {
                border: 1px solid #caa45c;
              }
            }
          }
        }

        .tile-info {
          display: flex;
          align-items: center;
          margin-bottom: 18px;

          i {
            padding-right: 15px;
            font-size: 20px;
          }

          p {
            font-size: 15px;
            margin: 0;
          }
        }
      }
    }
  }

  .result {
    flex: 0 1 100%;
    position: relative;
    @media (min-width: $breakpoint-lg) {
      flex: 0 1 33%;
      padding: 0 10px;
    }

    .result-box {
      background-color: #caa45c;
      color: #fff;
      padding: 20px;
      display: flex;
      flex-direction: column;
      border-radius: 4px;
      width: 100%;
      @media (min-width: $breakpoint-lg) {
        position: sticky;
        max-width: 300px;
        top: 25px;
        margin-bottom: 25px;
      }

      h3 {
        color: #fff;
        font-size: 18px;
        margin-top: 0;
      }

      .btn-result {
        background-color: #fff;
        border-color: #fff;
        color: #252525;
        transition: all 0.3s;

        &:hover {
          background-color: #252525;
          border-color: #252525;
          color: #fff;
        }
      }

      .support-info {
        font-size: 10px;
        line-height: 15px;
        margin-top: 8px;
      }
    }
  }
}

body.sticky-header.sticky-active.sticky-visible {
  .mattress-selection-guide .result-box {
    top: 100px;
  }
}

body.id-4062 .overall-wrapper,
body.id-4092 .overall-wrapper {
  @media (min-width: $breakpoint-lg) {
    overflow: unset;
  }
}
